.spent-wrapper {
  background: rgba(96, 71, 236, 0.1) !important;
  border: 1px solid #6047ec;
  border-radius: 8px;
}
.spent-time{
    color: #6047EC;
}
.spent-body{
    padding: 14px;
}
.mark-read {
  color: #6047ec;
  cursor: pointer;
}
.read-time {
  color: rgba(17, 17, 17, 0.6);
}
.bookmark-button {
  cursor: pointer;
}
.bookmark {
  background: rgba(17, 17, 17, 0.05);
  border-radius: 8px;
}

